

.content {

    width: 100%;
    text-align: center;
}
.content table {
    border-style: groove;
    border-bottom-style: none;
    border-right-style: none;
    border-color: #F9F9F9;
    border-width: thick;

}
.content td,th{
    border-color: #F9F9F9;
    border-bottom-style: groove;
    border-right-style: groove;
    border-width: thick;
    text-align: center;

}

body{
    background-color: #17a2b8;

}



img {
    display: block;
    max-width:230px;
    max-height:125px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.adminmenu{
    width: 100%;
    text-align: center;


}

.adminmenu ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e79452;

}

.adminmenu li {
    float: left;

}

.adminmenu li a {
    display: block;
    color: #115a64;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: bold;

}

.adminmenu li a:hover:not(.active) {
    background-color: #FAE1DF;
}