body{
    margin: 0;
    font-family: 'Roboto Mono for Powerline', sans-serif;
    font-weight: 300;
}

.navWrap{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #FAE1DF;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: .6rem 0;
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 4.5rem;
    padding-top: 1.5rem;
    position: relative;
}


nav ul li a {
    color: #0D1F2D;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #546A7B;
    text-decoration: none;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #546A7B;
    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #0D1F2D;
}
.footer__inner {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.footer__inner .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}
.footer__inner .footer_third:last-child {
    margin-right: 0;
}
.footer__inner .footer_third h1 {
    font-family: 'arial', serif;
    font-size: 16px;
    color: #FAE1DF;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.footer__inner .footer_third a {
    font-family: 'arial';
    font-size: 12px;
    font-weight: 200;
    color: #FAE1DF;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}
.footer__inner .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.footer__inner .footer_third span {
    color: #FAE1DF;
    font-family: 'arial';
    font-size: 12px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}
.footer__logo-container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}
.footer__logo-container img {
    width: 10rem;
    height: auto;
}
@media (max-width: 768px) {
    .footer__inner {
        width: 90%;
    }
    .footer__inner .footer_third {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer__logo-container {
        width: 100%;
        margin-bottom: 30px;
    }
}

.pageContainer {
    position: relative;
    min-height: 100vh;
}


#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}


.contentWrap {
    padding-bottom: 20rem;    /* Footer height */
}

